
.btn-ripple {
    overflow: hidden;
    position: relative;
}

.btn-ripple>.ripple {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    content: "";
    border-radius: 9999px;
    opacity: 1;
    animation: 1s ease 1 forwards ripple-effect;
}

.btn-ripple>.content {
    position: relative;
    z-index: 2;
}

@keyframes ripple-effect {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(10);
        opacity: 0.375;
    }

    100% {
        transform: scale(35);
        opacity: 0;
    }
}