.padding-x {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1024px) {
    .padding-x {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 640px) {
    .padding-x {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}