:root {
	--bg-spinner: var(--blue-700);
	--bg-spinner-rgb: 29, 78, 216;
	--bg-loader-container: var(--slate-300);
	--bg-loader-trail: var(--slate-200);
	--gradient-start: rgba(var(--bg-spinner-rgb), 0);
	--animation-time: 1.2s;
}

.loadingPage {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--bg-loader-container);
	z-index: 9999;
}

.loader {
	margin: 100px auto;
	font-size: 1.25rem;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load var(--animation-time) infinite ease;
	animation: load var(--animation-time) infinite ease;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

@-webkit-keyframes load {

	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em rgb(var(--bg-spinner-rgb)),
			1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2),
			2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2),
			1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2),
			0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2),
			-1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2),
			-2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.5),
			-1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.7);
	}

	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.7), 1.8em -1.8em 0 0em rgb(var(--bg-spinner-rgb)), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.5);
	}

	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.5), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.7), 2.5em 0em 0 0em rgb(var(--bg-spinner-rgb)), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.5), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.7), 1.75em 1.75em 0 0em rgb(var(--bg-spinner-rgb)), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.5), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.7), 0em 2.5em 0 0em rgb(var(--bg-spinner-rgb)), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.5), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.7), -1.8em 1.8em 0 0em rgb(var(--bg-spinner-rgb)), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.5), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.7), -2.6em 0em 0 0em rgb(var(--bg-spinner-rgb)), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.5), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.7), -1.8em -1.8em 0 0em rgb(var(--bg-spinner-rgb));
	}
}

@keyframes load {

	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em rgb(var(--bg-spinner-rgb)), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.5), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.7);
	}

	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.7), 1.8em -1.8em 0 0em rgb(var(--bg-spinner-rgb)), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.5);
	}

	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.5), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.7), 2.5em 0em 0 0em rgb(var(--bg-spinner-rgb)), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.5), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.7), 1.75em 1.75em 0 0em rgb(var(--bg-spinner-rgb)), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.5), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.7), 0em 2.5em 0 0em rgb(var(--bg-spinner-rgb)), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.5), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.7), -1.8em 1.8em 0 0em rgb(var(--bg-spinner-rgb)), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.5), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.7), -2.6em 0em 0 0em rgb(var(--bg-spinner-rgb)), -1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2);
	}

	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(var(--bg-spinner-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--bg-spinner-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--bg-spinner-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--bg-spinner-rgb), 0.5), -2.6em 0em 0 0em rgba(var(--bg-spinner-rgb), 0.7), -1.8em -1.8em 0 0em rgb(var(--bg-spinner-rgb));
	}
}
