/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * futura-pt:
 *   - http://typekit.com/eulas/00000000000000000001008f
 *   - http://typekit.com/eulas/000000000000000000010091
 *   - http://typekit.com/eulas/000000000000000000013365
 *   - http://typekit.com/eulas/000000000000000000012192
 * futura-pt-bold:
 *   - http://typekit.com/eulas/00000000000000003b9af1e4
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */

 @font-face {
	font-family: "futura-pt";
	src: url(../globals/fonts/futura/futura-pt-700.woff2) format("woff2"), url(../globals/fonts/futura/futura-pt-700.woff) format("woff"), url(../globals/fonts/futura/futura-pt-700.otf) format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: "futura-pt";
	src: url(../globals/fonts/futura/futura-pt-600.woff2) format("woff2"), url(../globals/fonts/futura/futura-pt-600.woff) format("woff"), url(../globals/fonts/futura/futura-pt-600.otf) format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
}

@font-face {
	font-family: "futura-pt";
	src: url(../globals/fonts/futura/futura-pt-500.woff2) format("woff2"), url(../globals/fonts/futura/futura-pt-500.woff) format("woff"), url(../globals/fonts/futura/futura-pt-500.otf) format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}

@font-face {
	font-family: "futura-pt";
	src: url(../globals/fonts/futura/futura-pt-400.woff2) format("woff2"), url(../globals/fonts/futura/futura-pt-400.woff) format("woff"), url(../globals/fonts/futura/futura-pt-400.otf) format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: "futura-pt-bold";
	src: url(../globals/fonts/futura/futura-pt-bold-700.woff2) format("woff2"), url(../globals/fonts/futura/futura-pt-bold-700.woff) format("woff"), url(../globals/fonts/futura/futura-pt-bold-700.otf) format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

.tk-futura-pt {
	font-family: "futura-pt", sans-serif;
}

.tk-futura-pt-bold {
	font-family: "futura-pt-bold", sans-serif;
}

.resume-font1 {
	font-family: Arial, Helvetica, sans-serif;
}

.resume-font2 {
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
