.title-gradient {
    font-size: 2.5rem !important;
    line-height: 2.3rem !important;
    letter-spacing: 0.005em !important;
    font-weight: 700 !important;
}

.text-gradient--titlev2 {
    background: -webkit-linear-gradient(-70deg, var(--blue-400) 0%, var(--blue-800) 100%);
    background-image: -webkit-linear-gradient(-70deg, var(--blue-400) 0%, var(--blue-800) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.text-gradient--title {
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    background-image: -webkit-linear-gradient(-70deg, rgb(219, 70, 159) 0%, rgb(33, 136, 255) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

@media (max-width: 767.98px) {
    .title-gradient {
        font-size: 2.2rem !important;
        line-height: 2.5rem !important;
        letter-spacing: 0.005em !important;
		font-weight: 800 !important;
    }
}

@media (max-width: 575.98px) {
    .title-gradient {
        font-size: 1.8rem !important;
        line-height: 1.8rem !important;
        letter-spacing: 0.03em !important;
		font-weight: 800 !important;
    }
}
