.avatar--container {
	position: relative;
}

.avatar--overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: transparent;
	z-index: 9999;
}

.avatar--container:hover .avatar--overlay {
	opacity: 1;
	transition: all 0.3s linear;
}

.avatar-icon-wrapper {
	position: absolute;
	top: 20%;
	right: -18%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
